<template>
  <div id="app">
    <table id="test-header-table">
      <thead>
        <tr>
          <th>
            <h1>Test Wallets Functionalities</h1>
          </th>
          <th>
            <h1>Test AR Transactions Functionalities</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="test-wallets-td">
            <TestWallets />
          </td>
          <td class="test-ar-transaction-td">
            <TestARTransactions />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import TestWallets from './components/TestWallets.vue';
import TestARTransactions from './components/TestARTransactions.vue';

export default {
  name: 'App',
  components: {
    TestWallets,
    TestARTransactions,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#test-header-table {
  width: 100%;
}

.test-ar-transaction-td,  .test-wallets-td{
  vertical-align: top;
}

#test-header-table th {
  border: 1px solid black;
  width: 33%;
}
</style>
