<template>
  <div class="hello">
    <table class="buttons-table">
      <tr>
        <td>
          <button @click="generateWallet('luca')">Generate Wallet</button>
        </td>
        <td>
          <button @click="importWallet('Imported Dev', true, testWallet)">Import Wallet</button>
        </td>
        <td>
          <button @click="importWallet('Imported Dev 2', false, testWallet2)">
            Import Second Wallet
          </button>
        </td>
      </tr>
    </table>
    <table class="wallets-table">
      <thead>
        <tr>
          <th>
            <h3>Wallets Used By The App</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <ul>
                <li v-for="w in $arGetWallets" :key="w.id">
                  <h5 v-if="!w.isDefault">
                    <strong><u>Wallet {{w.id}}</u></strong>
                    <br/> <button @click="$arSetDefaultWallet(w.id)">Set as default</button>
                    <br/> <button @click="$arRemoveWallet(w.id)">Remove Wallet</button>
                  </h5>
                  <h5 v-else class="default">
                    <strong><u>Wallet {{w.id}}</u></strong>
                    <br/> <button @click="$arRemoveWallet(w.id)">Remove Wallet</button>
                  </h5>
                  <div>
                    <strong>Address: </strong> {{w.address}} <br />
                    <strong>Type: </strong> {{w.type}} <br />
                    <strong>Name: </strong> {{w.name}} <br />
                    <strong>Balance AR: </strong> {{w.balanceAR}} <br />
                    <strong>Balance Winston: </strong> {{w.balanceWinston}} <br />
                  </div>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Vue from 'vue';
import testWallet from '../assets/testWallet.json';
import testWallet2 from '../assets/testWallet2.json';

export default {
  name: 'TestWallets',
  computed: {
    testWallet() {
      return testWallet;
    },
    testWallet2() {
      return testWallet2;
    },
  },
  methods: {
    logArweave() {
      console.log(Vue.$arweave);
    },
    async generateWallet(name, isDefault) {
      await this.$arGenerateWallet({ name, isDefault });
    },
    async importWallet(name, isDefault, jwk) {
      await this.$arImportWallet({ name, isDefault, jwk });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
.buttons-table {
  width: 100%;
}
.wallets-table {
  width: 100%;
}
.wallets-table td{
  font-size: 9px;
}
td {
  border: 1px solid black;
  padding: 5px;
}
ul {
  list-style: none;
}
.default {
  color: green;
}

</style>
