<template>
  <div id="test-send-ar-container">
    <div
      v-if="$arGetDefaultWalletTransactionHistory &&
      $arGetDefaultWalletTransactionHistory.length > 0"
      class="transaction-history-container">
      <h4>Default Wallet Transactions History</h4>
      <table class="transaction-history-container-table">
        <thead>
          <tr>
            <th>id</th>
            <th>status</th>
            <th>sender</th>
            <th>receiver</th>
            <th>signed</th>
            <th>data</th>
            <th>amount</th>
            <th>fee (in AR)</th>
            <th>total</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tx in $arGetDefaultWalletTransactionHistory" :key="tx.arTransaction.id">
            <td v-if="tx.arTransaction.id !== ''">{{tx.arTransaction.id}}</td>
            <td v-else>ND (not signed)</td>
            <td v-if="tx.enrichedTransaction.transactionStatus.status === 200">Confirmed</td>
            <td v-else-if="tx.enrichedTransaction.transactionStatus.status === 202">Pending</td>
            <td v-else>Not Found</td>
            <td>{{tx.enrichedTransaction.senderAddress}}</td>
            <td>{{tx.arTransaction.target}}</td>
            <td>
              <span v-if="tx.arTransaction !== ''">YES</span>
              <span v-else>Not Signed</span>
            </td>
            <td>{{tx.enrichedTransaction.dataString}}</td>
            <td>{{tx.enrichedTransaction.quantityAR}}</td>
            <td>{{tx.enrichedTransaction.feeAR}}</td>
            <td>{{tx.enrichedTransaction.totalAR}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="$arGetDefaultWallet" class="send-ar-container">
      <h4>Send AR to a wallet</h4>
      <h5>
        Sender: <span class="default-wallet">{{$arGetDefaultWallet.address}}</span>
        (your default wallet)
      </h5>
      <h5>Receiver</h5>
      <input type="text" id="receiver-input" placeholder="Insert the receiver address"
        @change="receiverChanged" />
      <h5>Amount (in AR)</h5>
      <input type="text" id="amount-to-send" placeholder="Insert the amount to send (in AR)"
        @change="amountChanged" />
      <h5>Data to Send</h5>
      <input type="text" id="data-to-send" placeholder="Insert the data that you want to send"
        @change="dataToSendChanged" />
      <h5>Tags to Send</h5>
      <input type="text" id="tags-to-send" placeholder="Insert the tags that you want to send"
        @change="tagsToSendChanged" />
      <h5>To send the transaction immediately you have to sign it!
        If you don't send it or if you do not sign it, the transaction will be queued
        and you'll be able to sign and send it later.
      </h5>
      <h5>
        Sign transaction?
        <input
        type="checkbox" id="sign-transaction" @click="signTransaction = !signTransaction"/>
        Send Transaction Immediately?
        <input
        type="checkbox" id="add-transaction-to-queue"
        @click="sendTransaction = !sendTransaction"
        :disabled="!signTransaction"/>
      </h5>
      <button
        @click="sendARTransaction({
          amount: amountToTransfer,
          receiverAddress: receiverAddress,
          sign: signTransaction,
          send: sendTransaction,
          data: dataToSend,
          tags: tagsToSend,
        })" :disabled="submitDisabled"> Send Transaction</button>
    </div>
    <div v-else>
      <h4>
        To create, sign and post AR Transactions, you have to set a default wallet
        <span v-if="$arGetWallets.length === 0">
          (import or generate the first one to set it as default)</span>.
      </h4>
    </div>
    <div v-if="$arGetARTransactionsQueue && $arGetARTransactionsQueue.length > 0">
      <h4>AR Transactions queue</h4>
      <table class="transactions-queue-table">
        <thead>
          <tr>
            <th>id</th>
            <th>status</th>
            <th>sender</th>
            <th>receiver</th>
            <th>signed</th>
            <th>data</th>
            <th>amount</th>
            <th>fee (in AR)</th>
            <th>total</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tx in $arGetARTransactionsQueue" :key="tx.arTransaction.id">
            <td v-if="tx.arTransaction.id !== ''">{{tx.arTransaction.id}}</td>
            <td v-else>ND (not signed)</td>
            <td v-if="tx.enrichedTransaction.transactionStatus.status === 202 ">Pending</td>
            <td v-else-if="tx.enrichedTransaction.transactionStatus.status === 410">Error</td>
            <td v-else>
              Not Sent {{tx.enrichedTransaction.transactionStatus}}
              <button @click="$arRemoveTransactionFromQueue(tx)">Delete Transaction</button>
              <button
                  v-if="tx.arTransaction.signature !== ''"
                  @click="$arUtilsSendTransaction(tx.arTransaction)">Send Now</button>
              <span v-else><br/>Sign to send</span>
            </td>
            <td>{{tx.enrichedTransaction.senderAddress}}</td>
            <td>{{tx.arTransaction.target}}</td>
            <td>
              <span v-if="tx.arTransaction.signature !== ''">YES</span>
              <span v-else>Not Signed
                <br/>
                <button @click="$arUtilsSignTransaction(tx.arTransaction)">Sign Now</button>
              </span>
            </td>
            <td>{{tx.enrichedTransaction.dataString}}</td>
            <td>{{tx.enrichedTransaction.quantityAR}}</td>
            <td>{{tx.enrichedTransaction.feeAR}}</td>
            <td>{{tx.enrichedTransaction.totalAR}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
// import Vue from 'vue';

export default {
  name: 'TestARTransactions',
  mounted() {
  },
  computed: {
    submitDisabled() {
      // v-if="receiverAddress !== '' && amountToTransfer !== ''"
      if (this.dataToSend !== '') {
        return false;
      }
      if (this.receiverAddress !== '' && this.amountToTransfer !== '') {
        return false;
      }
      return true;
    },
  },
  methods: {
    amountChanged(el) {
      this.amountToTransfer = el.target.value;
    },
    receiverChanged(el) {
      this.receiverAddress = el.target.value;
    },
    dataToSendChanged(el) {
      this.dataToSend = el.target.value;
    },
    tagsToSendChanged(el) {
      this.tagsToSend = JSON.parse(el.target.value);
      console.log(this.tagsToSend);
    },
    async sendARTransaction(t) {
      // <html><head></head><body><h1>Another Test</h1></body></html>
      // [{"name": "Content-Type", "value": "text/html"}]
      const tr = await this.$arCreateTransaction(t);
      console.log(tr);
    },
  },
  data() {
    return {
      signTransaction: false,
      sendTransaction: false,
      receiverAddress: '',
      amountToTransfer: '',
      dataToSend: '',
      tagsToSend: '',
    };
  },
};
</script>

<style scoped>
#test-send-ar-container {
  border:1px solid black;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:30px;
}
.transaction-history-container-table td{
  font-size:9px;
}
.transactions-queue-table td{
  font-size:9px;
}
.send-ar-container{
  border:1px solid black;
  border-top:5px solid black;
  margin-top:15px;
}
.default-wallet {
  color:green;
}
#receiver-input{
  width:80%;
}
#amount-to-send{
  width:80%;
}
#data-to-send {
  width:80%;
}
#tags-to-send {
  width:80%;
}
</style>
